.redbutton {
    background-color: red;
    border-color: red; /* Добавляем это, чтобы граница кнопки также была красной */
    color: white; /* Изменяем цвет текста на белый для лучшей видимости */

    /* Определяем стили для состояния наведения */
    &:hover {
        background-color: darkred; /* Меняем фон при наведении на кнопку */
        border-color: darkred; /* Также меняем цвет границы */
    }
}